# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/.gitignore
.idea/PipelineViewerConfig.xml
.idea/commons.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
prx-commons.iml
target/classes/banner.txt
target/generated-sources/
target/maven-status/
target/pmd.xml
target/pmd/
target/site/
/target/maven-archiver/pom.properties
/target/reports/css/apache-maven-fluido-2.0.0-M9.min.css
/target/reports/css/print.css
/target/reports/css/site.css
/target/reports/fonts/glyphicons-halflings-regular.eot
/target/reports/fonts/glyphicons-halflings-regular.svg
/target/reports/fonts/glyphicons-halflings-regular.ttf
/target/reports/fonts/glyphicons-halflings-regular.woff
/target/reports/images/logos/build-by-maven-black.png
/target/reports/images/logos/build-by-maven-white.png
/target/reports/images/logos/maven-feather.png
/target/reports/images/profiles/pre-release.png
/target/reports/images/profiles/retired.png
/target/reports/images/profiles/sandbox.png
/target/reports/images/accessories-text-editor.png
/target/reports/images/add.gif
/target/reports/images/apache-maven-project-2.png
/target/reports/images/application-certificate.png
/target/reports/images/contact-new.png
/target/reports/images/document-properties.png
/target/reports/images/drive-harddisk.png
/target/reports/images/fix.gif
/target/reports/images/icon_error_sml.gif
/target/reports/images/icon_help_sml.gif
/target/reports/images/icon_info_sml.gif
/target/reports/images/icon_success_sml.gif
/target/reports/images/icon_warning_sml.gif
/target/reports/images/image-x-generic.png
/target/reports/images/internet-web-browser.png
/target/reports/images/network-server.png
/target/reports/images/package-x-generic.png
/target/reports/images/remove.gif
/target/reports/images/rss.png
/target/reports/images/update.gif
/target/reports/images/window-new.png
/target/reports/img/glyphicons-halflings.png
/target/reports/img/glyphicons-halflings-white.png
/target/reports/js/apache-maven-fluido-2.0.0-M9.min.js
/target/reports/cpd.html
/target/reports/pmd.html
/target/surefire-reports/com.umdc.persistence.general.domains.AddressEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.ApplicationEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.ApplicationRoleUserEntityIdTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.ApplicationRoleUserEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.AuditEventEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.ContactEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.ContactTypeEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.FeatureEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.IdentificationDocumentEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.ManagedClientAuditEventEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.ManagedClientEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.NoticeEntityIdTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.NoticeEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.NoticeEntityTypeTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.PersonEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.RoleEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.RoleFeatureEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.RoleFeaturePKTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.ServiceTypeEntityTest.txt
/target/surefire-reports/com.umdc.persistence.general.domains.UserEntityTest.txt
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.AddressEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.ApplicationEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.ApplicationRoleUserEntityIdTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.ApplicationRoleUserEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.AuditEventEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.ContactEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.ContactTypeEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.FeatureEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.IdentificationDocumentEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.ManagedClientAuditEventEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.ManagedClientEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.NoticeEntityIdTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.NoticeEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.NoticeEntityTypeTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.PersonEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.RoleEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.RoleFeatureEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.RoleFeaturePKTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.ServiceTypeEntityTest.xml
/target/surefire-reports/TEST-com.umdc.persistence.general.domains.UserEntityTest.xml
/target/cpd.xml
/target/jacoco.exec
/.idea/awsToolkit.xml
/.idea/checkstyle-idea.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/db-forest-config.xml
/.idea/git_toolbox_prj.xml
/.idea/go.imports.xml
/.idea/material_theme_project_new.xml
/.idea/persistence.iml
/.idea/sonarlint.xml
/htmlReport/com.umdc.persistence.general.domains/AddressEntity.html
/htmlReport/com.umdc.persistence.general.domains/AddressEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/AddressEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/AddressEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationEntity.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationRoleUserEntity.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationRoleUserEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationRoleUserEntityId.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationRoleUserEntityId.java.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationRoleUserEntityIdTest.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationRoleUserEntityIdTest.java.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationRoleUserEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/ApplicationRoleUserEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/AuditEventEntity.html
/htmlReport/com.umdc.persistence.general.domains/AuditEventEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/AuditEventEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/AuditEventEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/ContactEntity.html
/htmlReport/com.umdc.persistence.general.domains/ContactEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/ContactEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/ContactEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/ContactTypeEntity.html
/htmlReport/com.umdc.persistence.general.domains/ContactTypeEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/ContactTypeEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/ContactTypeEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/FeatureEntity.html
/htmlReport/com.umdc.persistence.general.domains/FeatureEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/FeatureEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/FeatureEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/IdentificationDocumentEntity.html
/htmlReport/com.umdc.persistence.general.domains/IdentificationDocumentEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/IdentificationDocumentEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/IdentificationDocumentEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/index.html
/htmlReport/com.umdc.persistence.general.domains/index.source.html
/htmlReport/com.umdc.persistence.general.domains/ManagedClientAuditEventEntity.html
/htmlReport/com.umdc.persistence.general.domains/ManagedClientAuditEventEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/ManagedClientAuditEventEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/ManagedClientAuditEventEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/ManagedClientEntity.html
/htmlReport/com.umdc.persistence.general.domains/ManagedClientEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/ManagedClientEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/ManagedClientEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/NoticeEntity.html
/htmlReport/com.umdc.persistence.general.domains/NoticeEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/NoticeEntityIdTest.html
/htmlReport/com.umdc.persistence.general.domains/NoticeEntityIdTest.java.html
/htmlReport/com.umdc.persistence.general.domains/NoticeEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/NoticeEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/NoticeEntityTypeTest.html
/htmlReport/com.umdc.persistence.general.domains/NoticeEntityTypeTest.java.html
/htmlReport/com.umdc.persistence.general.domains/NoticeId.html
/htmlReport/com.umdc.persistence.general.domains/NoticeId.java.html
/htmlReport/com.umdc.persistence.general.domains/NoticeTypeEntity.html
/htmlReport/com.umdc.persistence.general.domains/NoticeTypeEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/PersonEntity.html
/htmlReport/com.umdc.persistence.general.domains/PersonEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/PersonEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/PersonEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/RoleEntity.html
/htmlReport/com.umdc.persistence.general.domains/RoleEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/RoleEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/RoleEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/RoleFeatureEntity.html
/htmlReport/com.umdc.persistence.general.domains/RoleFeatureEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/RoleFeatureEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/RoleFeatureEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/RoleFeaturePK.html
/htmlReport/com.umdc.persistence.general.domains/RoleFeaturePK.java.html
/htmlReport/com.umdc.persistence.general.domains/RoleFeaturePKTest.html
/htmlReport/com.umdc.persistence.general.domains/RoleFeaturePKTest.java.html
/htmlReport/com.umdc.persistence.general.domains/ServiceTypeEntity.html
/htmlReport/com.umdc.persistence.general.domains/ServiceTypeEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/ServiceTypeEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/ServiceTypeEntityTest.java.html
/htmlReport/com.umdc.persistence.general.domains/UserEntity.html
/htmlReport/com.umdc.persistence.general.domains/UserEntity.java.html
/htmlReport/com.umdc.persistence.general.domains/UserEntityTest.html
/htmlReport/com.umdc.persistence.general.domains/UserEntityTest.java.html
/htmlReport/jacoco-resources/branchfc.gif
/htmlReport/jacoco-resources/branchnc.gif
/htmlReport/jacoco-resources/branchpc.gif
/htmlReport/jacoco-resources/bundle.gif
/htmlReport/jacoco-resources/class.gif
/htmlReport/jacoco-resources/down.gif
/htmlReport/jacoco-resources/greenbar.gif
/htmlReport/jacoco-resources/group.gif
/htmlReport/jacoco-resources/method.gif
/htmlReport/jacoco-resources/package.gif
/htmlReport/jacoco-resources/prettify.css
/htmlReport/jacoco-resources/prettify.js
/htmlReport/jacoco-resources/redbar.gif
/htmlReport/jacoco-resources/report.css
/htmlReport/jacoco-resources/report.gif
/htmlReport/jacoco-resources/session.gif
/htmlReport/jacoco-resources/sort.gif
/htmlReport/jacoco-resources/sort.js
/htmlReport/jacoco-resources/source.gif
/htmlReport/jacoco-resources/up.gif
/htmlReport/index.html
/htmlReport/jacoco-sessions.html
/persistence.iml
